.About-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 500px;
    border: 50px;
    background-color: rgba(128, 128, 128, 0.594);
}

.About-title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.About-text {
    font-size: 40px;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.About-text2 {
    font-size: 40px;
}

.profilepic {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 25px;
}